//- Font size
// For more information,
// See https://material.io/design/typography/the-type-system.html#type-scale
$font-size-nano:    10px;
$font-size-micro:   12px;
$font-size-small:   14px;
$font-size-base:    16px;
$font-size-medium:  20px;
$font-size-large:   24px;
$font-size-xlarge:  34px;
$font-size-2xlarge: 48px;
$font-size-3xlarge: 60px;
